.secretariatv2_department_container{
    overflow: hidden;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--Black-98, #FAFAFA);
    /* background-color: black; */
}

.div_title_secretariat{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(241 245 249); */
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(241 245 249); */
    margin: 10px 10px;
    border-radius: 5px;
    padding: 25px;
    /* background-color: green; */
}

.title_secretariat{
    /* background-color: red; */
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #032054;
    opacity: 1;
    margin-left: 10px;
}

.div_search_addvisitors{
    display: flex;
    flex-direction: row;
}

.btn_addvisitor{
    display: flex;
    padding: 6px 16px;
    align-items: center;
    border-radius: 6px;
    margin-left: 40px;
    background-color: #032054;
    color: var(--Black-100, #FFF);
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    /* background-color: green; */
}

.sec_d01_inner01{
    height: 32px;
    width: 241px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    margin-left: 40px;

}

.inner01_cir1{
    display: flex;
    padding: 6px 16px;
    align-items: center;
    border-radius: 40px;
    background: var(--Black-90, #E6E6E6);
    color: var(--Black-50, #808080);
}

.inner01_cir1 span{
    height: 100%;
    width: 100%;
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.inner01_cir1:hover, .inner01_cir1.active{
    background: var(--Primary-Blue, #146EB4);
    cursor: pointer;
    color: var(--Black-100, #FFF);
}

.inner01_cir2{
    display: flex;
    padding: 6px 16px;
    align-items: center;
    border-radius: 40px;
    margin-left: 12px;
    background: var(--Black-90, #E6E6E6);
    color: var(--Black-50, #808080);
}

.inner01_cir2 span{
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.inner01_cir2:hover, .inner01_cir2.active{
    background: var(--Primary-Blue, #146EB4);
    color: var(--Black-100, #FFF);
    cursor: pointer;
}

.modal_addvisitor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(3, 32, 84, 0.82);;
}
  
.modal_addvisitor_content {
    background-color: #fefefe;
    height: 522px;
    width: 1151px;
    border-radius: 19px;
}

.modal_upper_buttons_addvisitor{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: green; */
}

.modal_img_upper_govtel{
    height: 85px;
    width: 85px;
    margin-top: 15px;
    margin-left: 55px;
}

.modal_close_visitor{
    width: 28px;
    height: 28px;
    margin-top: 27.41px;
    margin-right: 33.41px;
}

.span_close_visitor{
    width: 100%;
    height: 100%;
    font-size: 27px;
    color: #032054;
    cursor: pointer;
}

.span_close_visitor:hover{
    font-size: 28px;
    cursor: pointer;
    font-weight: 550;
}

.modal_title_visitor{
    height: 27px;
    width: 100%;
}

.modal_text_title{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #032054;
    margin-left: 54px;
}

.div_modal_fr01{
    margin-top: 20px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div_fr01_inner01{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-right: 30px;
}

.span_fr01_inner01{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr01_inner01{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr01_inner01:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr01_inner01::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr01_inner02{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.span_fr01_inner02{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr01_inner02{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr01_inner02:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr01_inner02::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr01_inner03{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
}

.span_fr01_inner03{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr01_inner03{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr01_inner03:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr01_inner03::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC; 
}

.div_modal_fr02{
    margin-top: 20px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div_fr02_inner01{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-right: 30px;
}

.span_fr02_inner01{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr02_inner01{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr02_inner01:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr02_inner01::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr02_inner02{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.span_fr02_inner02{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr02_inner02{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr02_inner02:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr02_inner02::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr02_inner03{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
}

.span_fr02_inner03{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr02_inner03{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr02_inner03:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr02_inner03::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC; 
}

.div_modal_fr03{
    margin-top: 20px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div_fr03_inner01{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-right: 30px;
}

.span_fr03_inner01{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr03_inner01{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr03_inner01:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr03_inner01::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr03_inner02{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.span_fr03_inner02{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr03_inner02{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr03_inner02:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr03_inner02::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC;
    
}

.div_fr03_inner03{
    height: 100%;
    width: 301px;
    display: flex;
    flex-direction: column;
}

.span_fr03_inner03{
    color: #032054;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto', sans-serif;
}

.input_fr03_inner03{
    width: 301px;
    height: 50px;
    margin-top: 8px;
    border: 1px solid #032054;
    border-radius: 6px;
    opacity: 0.5;
    padding-left: 12px;
}

.input_fr03_inner03:hover{
    border: 1px solid #032054;
    opacity: 1;
}

.input_fr03_inner03::placeholder{
    text-align: left;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #DCDCDC; 
}

.div_modal_fr04{
    margin-top: 20px;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.div_fr04_inner01{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    justify-content: center;
}

.btn_fr04_inner01{
    width: 126px;
    height: 50px;
    background: #032054 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.sec_d02_table_visitors{
    padding: 30px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

